<% title @user.email %>

<p>
  <strong>Sign In Count:</strong>
  <%= @user.sign_in_count %>
</p>
<p>
  <strong>Current Sign In At:</strong>
  <%= @user.current_sign_in_at %>
</p>
<p>
  <strong>Last Sign In At:</strong>
  <%= @user.last_sign_in_at %>
</p>
<p>
  <strong>Current Sign In Ip:</strong>
  <%= @user.current_sign_in_ip %>
</p>
<p>
  <strong>Last Sign In Ip:</strong>
  <%= @user.last_sign_in_ip %>
</p>
