<div id="homepage">
<% content_for :masthead do %>
<!--<div id="masthead">
      <div class="inner">
        <div class="container">
			<%= image_tag "icon.png", :alt => "Logo icon", :class => "masthead-icon" %>
          <h1>Skellington app says "Boo!"</h1>
          <p class="lead">
            A stable[ish] starting point to prototype facebook &amp; twitter apps using Rails 3.
          </p>
          <p>The readme &amp; code is on the <%= link_to "github repo", "https://github.com/danieljohnmorris/skel" %>. Also, <%= link_to "say hi on twitter", "http://twitter.com/danielmorris" %> if you have comments or questions.</p>
        </div>
      </div>
</div>-->
<% end %>

<% 
title "Ready to get wizarding?"
# content_for :subtitle do "Let's get started" end
%>

<div class="row">
	<div class="span8 columns">
		
		<p>WIRL is a game you play on your phone or your browser, transforming you into a wizard of awesomeness with magical powers!</p>
		<p><%= link_to "Sign in", authentications_path, :class => "btn large primary" %> or <%= link_to "Create an account", new_user_registration_path, :class => "btn large" %></p>
		<img width="100%" src="/images/wizard-cityscape.jpg" alt="Wizards in the city!"/>

	</div>
	<div class="span8 columns">


	</div>
</div>
</div>