<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? yield(:title) : APP_CONFIG[:app_name] %></title>
	<%= stylesheet_link_tag "bootstrap-1.0.0.min", "bootstrap-doc-styles", "omniauth", "application" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	<%= yield(:head) %>
</head>
<body>
	<div id="header">
		<div class="topbar">
				<div class="container">
					<h3>
						<a href="<%= root_path %>" title="homepage">
							<%= image_tag "icon.png", :alt => "Logo icon", :class => "topbar-icon" %>
							<span><%= APP_CONFIG[:app_name] %></span>
						</a>
					</h3>
					<ul>
						<li <% if current_page? about_path %>class="active"<% end %>><%= link_to "About", about_path %></li>
					</ul>
					<ul class="nav secondary-nav">
						<% if user_signed_in? %>
						<li class="menu">
							<a href="#" class="menu"><%= current_user.email %></a>
							<ul class="menu-dropdown">
								<li <% if current_page? :controller => "users", :action => "show", :id => current_user.id || nil %>class="active"<% end %>><%= link_to "Your profile", user_path(current_user) %></li>
								<li><%= link_to "Your authentications", authentications_path %></li>
								<li class="divider"></li>
								<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
							</ul>
						</li>
						<% else %>
						<li class="menu<% if current_page? :controller => "/authentications", :action => "index" %> active<% end %>">
								<%= link_to "Sign in", authentications_path %>
						</li>
						<% end %>
					</ul>
				</div>
		</div>
	</div>
	
	<%= yield :masthead %>
		
	<div class="container">
		<section>	
	       	<% flash.each do |name, msg| 
				case name.to_s
					when "notice"
						flash_tint = "success"
					when "alert"
						flash_tint = "error"
				end
				%>
				<%= content_tag :div, :class => "row" do content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message #{flash_tint}" end %>
			<% end %>

			<% if show_title? %>
			<div class="page-header">
			    <h1><%= yield(:title) %> <small><%= yield(:subtitle) %></small></h1>
			</div>
			<% end %>

			<%= yield %>
		</section>
	</div>

	<div id="footer">
		<div class="inner">
			<div class="container">
				<p class="right"><a href="#">Back to top</a></p>
				<p>Simple tutorials followed &amp; plugins compiled by <a href="http://twitter.com/danielmorris" target="_blank">@danielmorris</a>. <br/>
				<%= link_to "Docs & code live on github", "https://github.com/danieljohnmorris/skel" %>.
				</p>
			</div>
		</div>
	</div>
</body>
</html>
